<p class='lead'>All assignments for <%= @course.name %></p>

<% if @assignments.any? %>
<ul>
<% @assignments.each do |assignment| %>
	<div class="span8 well">
     <strong><%= assignment.title.capitalize %></strong>
	   <p><%= assignment.description.capitalize %></p>
     <p class='quiet'>posted on: <%= assignment.updated_at %></p>
	</div>
<% end %>
</ul>
<% else %>
<p>There's nothing here!</p>
<% end %>