<p>All assignments for <%= @course.name %> on <%= @raw_date %></p>

<% if @assignments.any? %>
<% @assignments.each do |assignment| %>
  <div class="span8 well">
  <%= assignment %>
  </div>
<% end %>
<% else %>
<p>There's nothing here!</p>
<% end %>