<div align="center">
<div class="container">
  <div class="span12 well">
  <div class="jumbotron">
    <h1>Welcome to the Whiteboards!</h1>
    <p>The whiteboards are a place you can connect with your peers and professors remotely using interactive whiteboards!</p>
    <%= link_to "Get started!", ' ', :class => "btn btn-primary" %>
  </div>
  </div>
</div>
</div>