<p class'lead'>Resources for <%= @course.name %></p>

<%= link_to "New Resource", new_course_resource_path(@course), class: 'btn btn-success' %>

<% @course.resources.each do |resource| %>
<div class='span8 well'>
  <%= resource %>
</div>
<% end %>