<p>This is the courses page!</p>

<%= link_to "Register a new course", new_course_path, class: 'btn btn-success' %>

<div class="span8 well">
<% @courses.each do |course| %>
  <%= course %>
<% end %>
</div>