<ul class="nav">
  <li>
    <%= link_to "Whiteboards", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'Course List', ' ' %>
  </li>
  <li>
    <%= link_to 'My Courses', '' %>
  </li>
  <li>
    <%= link_to 'Profile', '' %>
  </li>
</ul>
