<ul class="nav">
  <li>
    <%= link_to "Whiteboards", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'Course List', courses_path %>
  </li>
  <li>
    <%= link_to 'Profile', '' %>
  </li>
  <li>
    <%= link_to 'Logout', logout_path, method: 'delete' %>
  </li>
</ul>
